# Python Basics

### Print statement

In [7]:
print("Hello world")

Hello world

Elements separated by commas print with a space between them

In [8]:
print("Hello", "There")

Hello There

This tells Python to use an empty string as the terminator for the line, instead of the default newline character, \n.

In [15]:
print("hello ", end='')
print("There")

hello There

The ‘#’ starts a line comment

In [16]:
# this is a line comment

### Variables

In [17]:
x = 42  # Here, x is a reference to an integer object with a value of 42
print(type(x))  # This will output: <class 'int'>

x = "Hello, World!"  # Now, x is a reference to a string object
print(type(x))  # This will output: <class 'str'>

x = [1, 2, 3]  # Now, x points to a list object
print(type(x))  # This will output: <class 'list'>

<class 'int'>
<class 'str'>
<class 'list'>

### Basic Data Types

+ Integer: the equivalent of a C long
+ Float: number with decimals
+ Complex: combination of real and imaginary parts, ex: 5 + 2j 
+ String: a sequence of alphanumerical characters 
+ Booleans: True or False

### String Literals

len(str) -> num of characters in `str`
str(Object) -> string representation of the `Object`

In [19]:
x = 'Hello '
x = x + 'There'

print(x)
print(len(x))

x = 10.3 
print(str(x))

Hello There
11
10.3

Positive index: count from the left, starting with 0
Negative index: count from right, starting with –1

In [20]:
s = '012345'

print(s[3])
print(s[1:4])
print(s[2:])
print(s[:4])
print(s[-2])

3
123
2345
0123
4

### Data Structures - Lists
- Ordered collection of data
- Data can be of different types 
- Same subset operations as Strings

In [21]:
x = [1, 'Hello', (3 + 2j)]
print(x)

print(x[2])
print(x[0:2])

[1, 'Hello', (3+2j)]
(3+2j)
[1, 'Hello']

In [22]:
x = [1,2,3]
y = x

print(x)
print(y)

x[0] = 100
print(x)
print(y)

x.append(12)
print(x)
print(y)

[1, 2, 3]
[1, 2, 3]
[100, 2, 3]
[100, 2, 3]
[100, 2, 3, 12]
[100, 2, 3, 12]

Since x and y point to the same list object, both are changed
The method append also modifies the list by adding a new element in the end of the list

### Data Structures - Tuples

Tuples are immutable versions of lists

One strange point is the format to make a tuple with one element: ‘,’ is needed to differentiate from the mathematical expression (2)

In [34]:
x = (1,2,3)

print(x[0])
# x[0] this would cause an error

print(x[1:])

y = (2,)
print(y)

1
(2, 3)
(2,)

### Data Structures - Dictionaries

A set of key-value pairs
Entries can be changed by assigning
to that entry
Assigning to a key that does not exist adds an entry
The `del` method deletes an element from a dictionary

In [39]:
d = {
    1: 'Hello',
    'two': 42,
    'blah': [1,2,3]
}
print(d)

print(d['blah'])

d['two'] = 105
print(d)

d['new entry'] = 'new'
print(d)

y = d['blah']
d['blah'][1] = 100
print(y)

del(d['two'])
print(d)

{1: 'Hello', 'two': 42, 'blah': [1, 2, 3]}
[1, 2, 3]
{1: 'Hello', 'two': 105, 'blah': [1, 2, 3]}
{1: 'Hello', 'two': 105, 'blah': [1, 2, 3], 'new entry': 'new'}
[1, 100, 3]
{1: 'Hello', 'blah': [1, 100, 3], 'new entry': 'new'}

### Copying Dictionaries and Lists

The built-in `list` function will copy a list
The dictionary has a method called `copy`

In [40]:
# copying a list
list1 = [1]

list2 = list(list1)
list1[0] = 100

print(list1)
print(list2)

# copying a dictionary 

d = {1: 10}
d2 = d.copy()

d[1] = 100

print(d)
print(d2)

[100]
[1]
{1: 100}
{1: 10}

# Control Structures: Input

The `input(string)` method returns a line of user input as a string

In [48]:
print("What is your name")
name = input("=> ")

print("what's your age")
age = int(input("=> "))

print("Hello", name, "you are", age, "years old")
print("age: " + str(age))

What is your name
what's your age
Hello tony you are 19 years old
age: 19

### Control Structures - No Braces

Python uses `indentation` instead of braces to determine the scope of expressions

All lines must be indented the same amount to be part of the scope (or indented more if part of an inner scope)

This forces the programmer to use proper indentation since the indenting is part of the program!

### Control Structures - If

In [50]:
import math 

x = 30 
if x <= 15: 
    y = x + 15
elif x <= 30: 
    y = x + 30
else: 
    y = x

print(y)
print('y = ', math.sin(y))

60
y =  -0.3048106211022167

### Control Structures - While Loop

In [52]:
x = 1 

while x < 10: 
    print(x, end=" ")
    x+=1

1 2 3 4 5 6 7 8 9

### Control Structures - Loop Control


The optional `else` clause runs only if the loop exits normally (not by break)

In [53]:
x = 1

while x < 3: 
    print(x, end=" ")
    x+=1 
else: 
    print("Hello")

1 2 Hello

### Control Structures - For Loop

Iterating through a list of values:

In [55]:
for x in [1,2,3,4,5]:
    print(x, end=" ")
print()
for x in range(5):
    print(x, end=" ")

1 2 3 4 5
0 1 2 3 4